{#
/**
 * @file
 * Default theme implementation to display a single views grouping.
 *
 * Available variables:
 * - view: The view object.
 * - grouping: The grouping instruction.
 * - grouping_level: A number indicating the hierarchical level of the grouping.
 * - title: The group heading.
 * - content: The content to be grouped.
 * - rows: The rows returned from the view.
 *
 * @see template_preprocess_views_view_grouping()
 *
 * @ingroup themeable
 */
#}
<div id="{{ title|lower|replace( {' ':'-'} ) }}-wrapper" class="spell-ring-wrapper">
     <div class="spell-type {{ title|lower|replace( {' ':'-'} ) }} accordion">
          <div class="accordion-item">
               <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ spellType }}-accordion" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                         {{ title }}
                    </button>
               </h2>

               <div id="{{ spellType }}-accordion" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                         <div class="spells-ring-content">
                              {{ content }}
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>