<div id="side-navigation-pane" class="side-navigation-pane-wrapper spell-navigation">
     <div id="side-pane-navigation-universal" class="side-navigation-pane-item side-ring-wrapper universal">
          <div class="side-pane-navigation-image">
               <a href="#universal-mastery-1">
                    <img class="universal" src="{{ directory }}/images/rings/universal.png">
               </a>
          </div>

          <div class="side-pane-navigation-ring">
               <a href="#universal-mastery-1">
                    <h6>
                         Universal
                    </h6>
               </a>
          </div>

          <div class="side-pane-navigation-masteries side-pane-navigation-sublinks">
               <a class="side-pane-mastery-link" href="#universal-mastery-1">1</a>
               <a class="side-pane-mastery-link" href="#universal-mastery-2">2</a>
          </div>
     </div>

     <div id="side-pane-navigation-air"  class="side-navigation-pane-item side-ring-wrapper">
          <div class="side-pane-navigation-image">
               <a href="#air-mastery-1">
                    <img src="{{ directory }}/images/rings/air.png">
               </a>
          </div>

          <div class="side-pane-navigation-ring">
               <a href="#air-mastery-1">
                    <h6>
                         Air
                    </h6>
               </a>
          </div>

          <div class="side-pane-navigation-masteries side-pane-navigation-sublinks">
               <a class="side-pane-mastery-link" href="#air-mastery-1">1</a>
               <a class="side-pane-mastery-link" href="#air-mastery-2">2</a>
               <a class="side-pane-mastery-link" href="#air-mastery-3">3</a>
               <a class="side-pane-mastery-link" href="#air-mastery-4">4</a>
               <a class="side-pane-mastery-link" href="#air-mastery-5">5</a>
               <a class="side-pane-mastery-link" href="#air-mastery-6">6</a>
          </div>
     </div>


     <div id="side-pane-navigation-earth"  class="side-navigation-pane-item side-ring-wrapper">
          <div class="side-pane-navigation-wrapper-image">
               <a href="#earth-mastery-1">
                    <img src="{{ directory }}/images/rings/earth.png">
               </a>
          </div>

          <div class="side-pane-navigation-ring">
               <a href="#earth-mastery-1">
                    <h6>
                         Earth
                    </h6>
               </a>
          </div>

          <div class="side-pane-navigation-masteries side-pane-navigation-sublinks">
               <a class="side-pane-mastery-link" href="#earth-mastery-1">1</a>
               <a class="side-pane-mastery-link" href="#earth-mastery-2">2</a>
               <a class="side-pane-mastery-link" href="#earth-mastery-3">3</a>
               <a class="side-pane-mastery-link" href="#earth-mastery-4">4</a>
               <a class="side-pane-mastery-link" href="#earth-mastery-5">5</a>
               <a class="side-pane-mastery-link" href="#earth-mastery-6">6</a>
          </div>
     </div>

     <div id="side-pane-navigation-fire"  class="side-navigation-pane-item side-ring-wrapper">
          <div class="side-pane-navigation-image">
               <a href="#fire-mastery-1">
                    <img src="{{ directory }}/images/rings/fire.png">
               </a>
          </div>

          <div class="side-pane-navigation-ring">
               <a href="#fire-mastery-1">
                    <h6>
                         Fire
                    </h6>
               </a>
          </div>

          <div class="side-pane-navigation-masteries side-pane-navigation-sublinks">
               <a class="side-pane-mastery-link" href="#fire-mastery-1">1</a>
               <a class="side-pane-mastery-link" href="#fire-mastery-2">2</a>
               <a class="side-pane-mastery-link" href="#fire-mastery-3">3</a>
               <a class="side-pane-mastery-link" href="#fire-mastery-4">4</a>
               <a class="side-pane-mastery-link" href="#fire-mastery-5">5</a>
               <a class="side-pane-mastery-link" href="#fire-mastery-6">6</a>
          </div>
     </div>

     <div id="side-pane-navigation-water"  class="side-navigation-pane-item side-ring-wrapper">
          <div class="side-pane-navigation-image">
               <a href="#water-mastery-1">
                    <img src="{{ directory }}/images/rings/water.png">
               </a>
          </div>

          <div class="side-pane-navigation-ring">
               <a href="#water-mastery-1">
                    <h6>
                         Water
                    </h6>
               </a>
          </div>

          <div class="side-pane-navigation-masteries side-pane-navigation-sublinks">
               <a class="side-pane-mastery-link" href="#water-mastery-1">1</a>
               <a class="side-pane-mastery-link" href="#water-mastery-2">2</a>
               <a class="side-pane-mastery-link" href="#water-mastery-3">3</a>
               <a class="side-pane-mastery-link" href="#water-mastery-4">4</a>
               <a class="side-pane-mastery-link" href="#water-mastery-5">5</a>
               <a class="side-pane-mastery-link" href="#water-mastery-6">6</a>
          </div>
     </div>

     <div id="side-pane-navigation-void"  class="side-navigation-pane-item side-ring-wrapper">
          <div class="side-pane-navigation-image">
               <a href="#void-mastery-1">
                    <img src="{{ directory }}/images/rings/void.png">
               </a>
          </div>

          <div class="side-pane-navigation-ring">
               <a href="#void-mastery-1">
                    <h6>
                         Void
                    </h6>
               </a>
          </div>

          <div class="side-pane-navigation-masteries side-pane-navigation-sublinks">
               <a class="side-pane-mastery-link" href="#void-mastery-1">1</a>
               <a class="side-pane-mastery-link" href="#void-mastery-2">2</a>
               <a class="side-pane-mastery-link" href="#void-mastery-3">3</a>
               <a class="side-pane-mastery-link" href="#void-mastery-4">4</a>
               <a class="side-pane-mastery-link" href="#void-mastery-5">5</a>
               <a class="side-pane-mastery-link" href="#void-mastery-6">6</a>
          </div>
     </div>

     <div id="side-pane-navigation-multi-element"  class="side-navigation-pane-item side-ring-wrapper multi-element">
          <div class="side-pane-navigation-image">
               <a href="#multi-element-mastery-11">
                    <img src="{{ directory }}/images/rings/multi.png">
               </a>
          </div>

          <div class="side-pane-navigation-ring">
               <a href="#multi-element-mastery-11">
                    <h6>
                         Multi-element
                    </h6>
               </a>
          </div>

          <div class="side-pane-navigation-masteries side-pane-navigation-sublinks">
               <a class="side-pane-mastery-link" href="#multi-element-mastery-11">Universal</a>
               <a class="side-pane-mastery-link" href="#multi-element-mastery-12">Advanced</a>
          </div>
     </div>

     <div id="side-pane-navigation-maho"  class="side-navigation-pane-item side-ring-wrapper">
          <div class="side-pane-navigation-ring">
               <a href="#maho-mastery-1">
                    <h6>
                         Maho
                    </h6>
               </a>
          </div>

          <div class="side-pane-navigation-masteries side-pane-navigation-sublinks">
               <a class="side-pane-mastery-link" href="#maho-mastery-1">1</a>
               <a class="side-pane-mastery-link" href="#maho-mastery-2">2</a>
               <a class="side-pane-mastery-link" href="#maho-mastery-3">3</a>
               <a class="side-pane-mastery-link" href="#maho-mastery-4">4</a>
               <a class="side-pane-mastery-link" href="#maho-mastery-5">5</a>
               <a class="side-pane-mastery-link" href="#maho-mastery-6">6</a>
          </div>
     </div>
</div>