<{{ fields.title.wrapper_element }}{{ fields.title.wrapper_attributes }}>
     <{{ fields.title.element_type }}{{ fields.title.element_attributes }}>
          <div class="search-result-row-header">     
               <div class="result-title">
                    <a href="{{ row.link }}" title="{{ fields.title.content }}">{{ fields.title.content }}</a>{% if fields.advantage_subtypes %} [{{ fields.advantage_subtypes.content }}]{% endif %} ({{ fields.point_value.content }}){% if fields.source %} [{{ fields.source.content }}]{% endif %}
               </div>

               <div class="result-type">
                    {% if fields.advantage_type.content == 'Advantage' %}
                         <span class="result-icon"><i class="fa-solid fa-arrow-up"></i></span>Advantage
                    {% else %}
                         <span class="result-icon"><i class="fa-solid fa-arrow-down"></i></span>Disadvantage
                    {% endif %}
               </div>
          </div>
     </{{ fields.title.element_type }}>
</{{ fields.title.wrapper_element }}>

<{{ fields.body.wrapper_element }}{{ fields.body.wrapper_attributes }}>
     {{ fields.body.content }}
</{{ fields.body.wrapper_element }}>
