{#
/**
 * @file
 * Default theme implementation to display a single views grouping.
 *
 * Available variables:
 * - view: The view object.
 * - grouping: The grouping instruction.
 * - grouping_level: A number indicating the hierarchical level of the grouping.
 * - title: The group heading.
 * - content: The content to be grouped.
 * - rows: The rows returned from the view.
 *
 * @see template_preprocess_views_view_grouping()
 *
 * @ingroup themeable
 */
#}
{% if groupingClan %}
     <div class="great-clans-ancestors accordion">
          <div class="accordion-item">
               <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ groupingClan }}" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                         {{ title }}
                    </button>
               </h2>

               <div id="{{ groupingClan }}" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                         <div class="families-content">
                              {{ content }}
                         </div>
                    </div>
               </div>
          </div>
     </div>
{% else %}
     <div class="ancestors-content">
          {{ content }}
     </div>
{% endif %}