{% if row.search_result %}
     <{{ fields.title.wrapper_element }}{{ fields.title.wrapper_attributes }}>
          <{{ fields.title.element_type }}{{ fields.title.element_attributes }}>
               <div class="search-result-row-header">     
                    <div class="result-title">
                         <a href="{{ row.link }}" title="{{ fields.title.content }}">{{ fields.title.content }}</a>{% if fields.source %} [{{ fields.source.content }}]{% endif %}
                    </div>

                    <div class="result-type">
                         <span class="result-icon"><i class="fa-solid fa-table"></i></span>Table<span class="equipment-arrow"><i class="fa-solid fa-arrow-right"></i></span>Heritage Table
                    </div>
               </div>
          </{{ fields.title.element_type }}>
     </{{ fields.title.wrapper_element }}>
{% else %}
     <a id="{{ fields.title.content }}" class="anchor"></a>
{% endif %}

{% if row.search_result %}
     <em>Heritage tables cannot be displayed in the search results, please click the title to be taken to the desired table.</em>
{% else %}
     <div class="tabular numeric">
          {{ fields.tabular_data.content }}
     </div>
{% endif %}